header {
    width: 100%;
    background: #584472;
    height: 70px;
}

.menu {
    list-style: none;
    display: flex;
    position: absolute;
    z-index: -1;
}

ul {
    margin: auto;
    padding: 0;
    text-align: right;
    list-style: none;
    height: 70px;
}

li {
    display: inline-flex;
}

ul li a {
    color: aliceblue;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 10px;
}

ul li a:hover {
    background: orange;
}

.title {
    font-size: 30px;
    padding-top: 15px;
    text-align: left;
}