
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: darkslategrey;
    padding: 10px;
    /* border-radius: 7px;*/
}

.wrap-logo {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

header {
    padding-top: 0;
    padding-bottom: 0;
}

header a {
    color: darkgrey;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;

}

header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px;
}

header a:hover {
    background-color: #25162e;
    color: #a3c23e;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.image-align {
    text-align: center;
}